.page.home {

    >.header {

        .hostname {
            flex-grow: 1;
        }

    }

    >.main {
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: space-around;
        padding: 1em 0;

        .counter {
            font-size: 3em;
            font-family: f1-bold;
        }

        .elapsed {
            font-size: 2em;

            &:not(.sampling) {
                color: #bababa;
            }
        }

        .hvs {
            font-size: 2em;
            color: #ff6518;
            font-family: f1-bold;
        }

        .flags {
            gap: 2em;
            text-transform: uppercase;
            color: #000;
            margin-top: 0.8em;
            .group {
                gap: 0.2em;
                .flag{
                    justify-content: center;
                    padding: 0.2em;
                    background-color: #444;
                    box-shadow: 0 0 0.3em black inset;
                    border-radius: 0.3em;
                    min-width: 1.5em;
                    font-family: f1-bold;
                    &.active {

                        color: #222;
                        min-width: 2em;
                        box-shadow: 0 0 0.2em white inset, 0 0 1em white;
                        z-index: 10;
                    }
                }
                &.trigger-source .flag.active {
                    background-color: #00ff77;
                }
                &.sampling-mode .flag.active {
                    background-color: #ffdb5f;
                }
            }
        }
    }

    >.footer {

        &:not(.ntp) {
            background-color: #ffffff;
            color: #111;
            text-shadow: none;
        }

        align-items: center;
        white-space: nowrap;

        .usb {
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: center;
            font-size: small;
            font-weight: bold;
            margin: 0 0.5em;
            border-radius: 0.5em;
            visibility: hidden;

            &.mounted {
                visibility: visible;
                background-color: #ff3e25;
                animation: blink 0.5s infinite;
            }

            &.unmounted {
                visibility: visible;
                background-color: #01ba57;
            }
            
        }

    }

}

