/* view styles are defined in last.page.js */

.page.update {

    .status {
        flex-grow: 1;
        flex-direction: column;

        .animation {
            display: none;
            height: 100%;
            background-image: url('animation.gif');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .ui {
            flex-grow: 1;
            flex-direction: column;
            font-size: 1.1em;
            justify-content: space-evenly;

            .entries {
                display: grid;
                align-items: center;
                justify-content: center;
                row-gap: 0.3em;

                .entry {

                    display: contents;

                    &.stream {
                        color: var(--color-fg-suppressed)
                    }

                    .label {
                        grid-column: 1;
                        margin-right: 1em;
                    }

                    .value {
                        grid-column: 2;
                        font-size: larger;
                        font-family: 'f1-bold';
                    }

                }
            }

            .uptodate {
                justify-content: center;
                display: none;
            }

            .buttons {
                margin: 0em 2em;
                gap: 1em;
                flex-direction: column;
            }
        }

        &.uptodate {
            .uptodate {
                display: flex;
            }

            button.update {
                display: none;
            }
        }

        &.working {
            .animation {
                display: flex;
            }

            .ui {
                display: none;
            }
        }

    }

}