body {
    font-family: 'f1-regular', sans-serif;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    --color-bg-nav: #313034;
    --color-bg: #1d1d20;
    --color-fg: white;
    --color-fg-suppressed: #7d7d7d;
    --color-lines: #d7d5d5;
    --color-hi1: #ff0047;
    --color-error: var(--color-hi1);
    --color-bg-group: #262529;
    --color-btn-bg: var(--color-lines);
    --color-btn-hover: var(--color-fg);
    --color-btn-active: var(--color-hi1);

    background-color: var(--color-bg);
    color: var(--color-fg);
}

a, td, body, button {
    text-decoration: unset;
    color: unset;
    font-size: unset;
}

div {
    display: flex;
}

.page {

    & {
        min-height: calc(100vh);
    }

    &>.navigation {
        flex-direction: column;
        padding: 1em;
        background-color: var(--color-bg-nav);
        color: var(--color-fg);
    }

    &>.navigation>.header {
        font-family: 'f1-black';
        font-size: 2em;
        padding: 0.5em;
        margin-bottom: 0.5em;
        height: 2em;
    }

    &>.navigation>.menu {
        flex-direction: column;
    }

    &>.navigation>.menu>.item {
        padding: 1em;
    }

    &>.navigation>.menu>.item {
        border-left: 0.2em solid var(--color-bg-nav);
    }

    &>.navigation>.menu>.item.selected {
        border-left-color: var(--color-hi1);
    }

    &>.container {
        flex-direction: column;
        padding: 2em;
        flex-grow: 1;
        background-color: var(--color-bg);
        color: var(--color-fg);

        &>div {
            flex-direction: column;
        }
    }

}

.with-units {

    &::after {
        font-family: 'f1-regular';
        color: var(--color-fg-suppressed);
        margin-left: 0.1em;
    }

    &.volts::after {
        content: "V";
    }

}
