@font-face {
    font-family: 'f1-regular';
    src: url("NunitoSans_10pt-Regular.ttf");
}

@font-face {
    font-family: 'f1-bold';
    src: url("NunitoSans_10pt-Bold.ttf");
}

@font-face {
    font-family: 'f1-black';
    src: url("NunitoSans_10pt-Black.ttf");
}

